* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorOne: #09090f;
  --colorRed: #cb4c4c;
  --colorBlue: #5d7aaf;
  --colorBlue2: #5c6d8d;
  --colorGray: #7676801f;
  --colorGray2: #62627cbe;
  --colorGray3: #51535e;
  --colorGrayShadow: #58589b7a;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(31deg, var(--colorOne), #1a1d28);
}
body .container {
  padding: 3rem 4rem;
}
body .flex {
  display: flex;
}
body .grid {
  display: grid;
}
body .title {
  font-size: 3.6rem;
  color: var(--colorBlue);
}
body .subtitle {
  font-size: 1.2rem;
}
body h4.titleSection {
  color: white;
  font-size: max(1.6rem, 2vw);
  font-weight: 500;
}
body h4.titleSection.filterTitle {
  font-size: 1.6rem;
}
body .home header:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.1;
  background-image: url("https://cdn.discordapp.com/attachments/771766413563002920/987180156047228998/bg.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
body .home header .container {
  display: grid;
  gap: 2rem;
  padding: 3rem 3rem;
  justify-items: center;
}
body .home header .container .head {
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: white;
  line-height: 2.8rem;
  text-align: center;
}
body .home header .container .head .titleArea .title {
  font-weight: 600;
  display: flex;
  align-items: center;
}
body .home header .container .head .titleArea .title svg {
  font-size: 2.6rem;
}
body .home header .container .headerInput {
  padding: 0 1.4rem;
  width: 100%;
  max-width: 48rem;
  height: 4.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--colorGray);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 1.1rem;
  border: 1px solid var(--colorBlue2);
}
body .home header .container .headerInput .diviser {
  width: 2px;
  height: 60%;
  background-color: var(--colorGray);
}
body .home header .container .headerInput svg {
  color: var(--colorBlue2);
  font-size: 2.4rem;
}
body .home header .container .headerInput svg.micIcon {
  color: var(--colorGray2);
  font-size: 2.6rem;
  margin: 0 0.5rem;
}
body .home header .container .headerInput input {
  width: 100%;
  background: none;
  border: none;
  height: 50%;
  padding-left: 1rem;
  box-shadow: none;
  outline: none;
  color: var(--colorGray2);
  font-weight: 500;
}
body .home header .container .headerFilters {
  padding: 1.5rem 0;
  gap: 1.5rem;
}
body .home header .container .headerFilters .boxFilters {
  gap: 2rem;
  width: 100%;
}
body .home header .container .headerFilters .boxFilters .filter {
  align-items: center;
  justify-items: center;
  color: rgba(208, 208, 215, 0.7294117647);
  cursor: pointer;
}
body .home header .container .headerFilters .boxFilters .filter:hover .logoFilter {
  box-shadow: var(--colorGrayShadow) 0px 7px 29px 0px;
}
body .home header .container .headerFilters .boxFilters .filter .logoFilter {
  width: 4rem;
  height: 4rem;
  background-color: var(--colorGray2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.6rem;
  margin-bottom: 0.4rem;
  transition: 0.5s box-shadow;
}
body .home header .container .headerFilters .boxFilters .filter .logoFilter svg {
  color: white;
  font-size: 2.4rem;
}
body .home header .container .headerFilters .boxFilters .filter p {
  font-size: 1.1rem;
  transition: 0.5s transform;
}
body .home section.content .sectionFilms .container {
  padding: 3rem 2rem;
}
body .home section.content .sectionFilms .filmsList {
  padding-bottom: 4rem;
  position: relative;
}
body .home section.content .sectionFilms .filmsList .imgFilme {
  border-radius: 1.4rem;
  width: max(110px, 12vw);
  overflow: hidden;
}
body .home section.content .sectionFilms .filmsList .imgFilme img {
  width: 100%;
}
body .home section.content .sectionFilms .filmsList .notaFilme {
  color: whitesmoke;
  position: absolute;
  width: 2.6rem;
  height: 2.6rem;
  background-color: var(--colorOne);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 1rem;
  margin: 0.5rem;
}

@media (max-width: 374px) {
  .swiper .swiper-slide {
    transition: 0.5s transform;
  }
  .swiper .swiper-slide-active {
    transform: scale(0.8);
    margin-right: 15px;
  }
  .swiper .swiper-slide-next {
    margin-right: 16px !important;
    transform: scale(1);
  }
  .swiper .swiper-slide-next + .swiper-slide {
    transform: scale(0.8);
  }
}/*# sourceMappingURL=App.css.map */